* {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
}

.container{
height: 100vh; display: flex;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
    position: fixed;
    top: 0%;
    width: 100%;
    font-size: 25px;
}

.logo {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo img {
    height: 7vh;
    box-sizing: border-box;
    padding: 2px;
}

nav ul {
    display: flex;
    margin-top: 25px;
    margin-right: 46px;
}

ul a {
    margin-inline: 30px;
    text-decoration: none;
    color: white;
    margin-top: 6px;
    cursor: pointer;

}

nav ul a:hover {
    border-bottom: 2px solid rgb(255, 208, 0);
    /* font-weight: 600; */
    color: rgb(255, 208, 0);
    transition: 0.2s ease-in

}

ul button {
    width: 90px;
    height: 40px;
    background-color: rgb(255, 208, 0);
    border: none;
    font-size: 22px;
    outline: none;
    color: black;
    border-radius: 20px;
}

ul button:hover {
    border: 2px solid rgb(255, 208, 0);
    background-color: transparent;
    cursor: pointer;
    color: white;
    transition: 0.2s ease-in;
}

#main_logo{
    font-size: 200px;
    margin-top:35vh;
    margin-left: 28vw;
    text-shadow: 7px 7px 5px rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: fadeiN 4s;
}
#slog{
    font-size: 60px;
    margin-top: 1vh;
    margin-left: 29vw;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    animation: fadeiN 4s;

}

@keyframes fadeiN{
    0%{opacity: 0;color: rgb(255, 0, 0);}
    50%{opacity: 50%;color: rgb(255, 213, 0);}
    100%{opacity: 100%;color: #ffffff;}
}

.background-video{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    object-fit: cover;
    z-index: -10;
    opacity: 0.5;
}

.main_container{
    height: 91vh;
    width: 99vw;
    background-color: rgba(0,0,0,0.7);
    display: flex; 
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 30px;
}

#sbc{
    margin-left: 43vw;margin-top: 50px;display: inline-flex;
}
.categories{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin-top: 100px;
    justify-content:center;
    align-items: center;
    display: flex;
    font-size: 60px;
    box-shadow:0 0 50px rgb(74, 74, 74);
}

#veg{
    background-image: url(photos/veg.jpeg);
    background-size:cover;
    position: relative;
    overflow: hidden;
}
#nveg{
    background-image: url(photos/nveg.jpeg);background-size:cover;
}
#sweets{
    background-image: url(photos/sweet.jpeg);background-size:cover;
}
#drinks{
    background-image: url(photos/bvg.jpeg);background-size:cover;
}
.categories p{
    text-shadow: 3px 3px 1.5px rgb(0, 0, 0);
    z-index: 10;
}

#veg{
    position: relative;
    overflow: hidden;
    background-image: url(photos/veg.jpeg);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 350px;
    
}
#vegvid{
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    height: 100%;
    width: 100%;
}
#veg:hover #vegvid{
    opacity: 1;
}
#veg:hover p{
    color: yellow;
    transition: 0.5s ease-in;
    cursor: pointer;
}
#veg:hover{
    height: 400px;
    width: 400px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

#nveg{
    position: relative;
    overflow: hidden;
    background-image: url(photos/nveg.jpeg);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 350px;
    
}
#nvegvid{
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    height: 100%;
    width: 100%;
}
#nveg:hover #nvegvid{
    opacity: 1;
}
#nveg:hover p{
    color: yellow;
    transition: 0.5s ease-in;
    cursor: pointer;
}
#nveg:hover{
    height: 400px;
    width: 400px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

#sweet{
    position: relative;
    overflow: hidden;
    background-image: url(photos/sweet.jpeg);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 350px;
}
#sweetvid{
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    height: 100%;
    width: 100%;
}
#sweet:hover #sweetvid{
    opacity: 1;
}
#sweet:hover p{
    color: yellow;
    transition: 0.5s ease-in;
    cursor: pointer;
}
#sweet:hover{
    height: 400px;
    width: 400px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

#drink{
    position: relative;
    overflow: hidden;
    background-image: url(photos/bvg.jpeg);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 350px;
}
#drinkvid{
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    height: 100%;
    width: 100%;
}
#drink:hover #drinkvid{
    opacity: 1;
}
#drink:hover p{
    color: yellow;
    transition: 0.5s ease-in;
    cursor: pointer;
}
#drink:hover{
    height: 400px;
    width: 400px;
    transition: 0.2s ease-in;
    cursor: pointer;
}