* {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
}

.container{
height: 100vh; display: flex;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
    position: fixed;
    top: 0%;
    width: 100%;
    font-size: 20px;
}

.logo {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo img {
    height: 7vh;
    box-sizing: border-box;
    padding: 2px;
}

nav ul {
    display: flex;
    margin-top: 15px;
    margin-right: 46px;
}

ul a {
    margin-inline: 31px;
    text-decoration: none;
    color: white;
    margin-top: 6px;
    cursor: pointer;

}

nav ul a:hover {
    border-bottom: 2px solid rgb(255, 208, 0);
    /* font-weight: 600; */
    color: rgb(255, 208, 0);
    transition: 0.2s ease-in

}

ul button {
    width: 70px;
    height: 30px;
    background-color: rgb(255, 208, 0);
    border: none;
    font-size: 18px;
    outline: none;
    color: black;
    border-radius: 20px;
    
}

ul button:hover {
    border: 2px solid rgb(255, 208, 0);
    background-color: transparent;
    cursor: pointer;
    color: white;
    transition: 0.2s ease-in;
}
.background-video{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    object-fit: cover;
    z-index: -10;
    opacity: 0.5;
}

